html {
    font-family: Verdana, sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

h4 {
    font-size: 21px;
    color: grey !important;
    font-weight: normal;
}

a {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

footer {
    text-align: right !important;
}